package templates

templ Base() {
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>MyAnimeDB</title>
			<link href="./styles/output.css" rel="stylesheet"/>
			<script src="https://unpkg.com/htmx.org@1.9.2"></script>
		</head>
		<body>
			<h1 class="text-4xl font-bold text-center text-blue-600 py-10">Welcome to the Home Page</h1>
			<p>We went too far away in web development</p>
		</body>
	</html>
}
